@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-color{
  background: linear-gradient(to bottom,#00290C,#00601B);
}
.input {
  @apply w-full p-3 rounded-3xl bg-transparent text-white mt-5 border-2 border-white focus:outline-none placeholder:text-white placeholder:text-opacity-50
}

.primary-bg {
  @apply w-screen flex flex-col 
}

input:checked {
  background-color: green;
}
.l-button{
  background-color: #C00000;
  @apply text-white p-3 rounded-3xl shadow-md
}